# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language.  
We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

# creating a dataframe

In [2]:
data = pd.DataFrame(
    data=[
        [1, 2, 5, 3],
        [3, 4, 5, 5],
        [6, 7, 5, 8]
    ],
    index=['a', 'b', 'c'],
    columns=['Age', 'Sal', 'Add', 'Mobile Number']
)
data

   Age  Sal  Add  Mobile Number
a    1    2    5              3
b    3    4    5              5
c    6    7    5              8

another example

In [3]:
data = pd.DataFrame(np.random.randn(5, 4))
data

          0         1         2         3
0 -1.983454  0.505489 -0.033296 -1.013738
1  0.078936  0.000150 -0.210369 -0.609266
2  1.313355 -0.875951  0.534838 -1.628887
3 -0.389669  1.132079 -1.564456  0.512765
4 -0.958603  1.140786  0.232545 -0.960363

another example

In [4]:
df = pd.DataFrame(
    np.random.randn(5, 4),
    index='A B C D E'.split(),
    columns='W X Y Z'.split()
)
df

          W         X         Y         Z
A  0.886920 -1.352425 -0.339336 -0.055056
B  0.832037 -0.901137 -0.495430  0.244619
C -0.927452 -1.098289 -0.171025 -1.630591
D  2.163398 -0.187953 -0.725811 -1.626742
E  0.792246 -0.531604  0.873340  0.064929

# Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [5]:
df['W']

A    0.886920
B    0.832037
C   -0.927452
D    2.163398
E    0.792246
Name: W, dtype: float64

In [6]:
# Pass a list of column names
df[['W', 'Z']]

          W         Z
A  0.886920 -0.055056
B  0.832037  0.244619
C -0.927452 -1.630591
D  2.163398 -1.626742
E  0.792246  0.064929

In [7]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    0.886920
B    0.832037
C   -0.927452
D    2.163398
E    0.792246
Name: W, dtype: float64

## using `loc`, `iloc`

In [8]:
df.iloc[0:2, 0:2]

          W         X
A  0.886920 -1.352425
B  0.832037 -0.901137

In [9]:
df.loc[['A', 'B'], ['W', 'X']]

          W         X
A  0.886920 -1.352425
B  0.832037 -0.901137

DataFrame Columns are just Series

In [10]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [11]:
df

          W         X         Y         Z
A  0.886920 -1.352425 -0.339336 -0.055056
B  0.832037 -0.901137 -0.495430  0.244619
C -0.927452 -1.098289 -0.171025 -1.630591
D  2.163398 -0.187953 -0.725811 -1.626742
E  0.792246 -0.531604  0.873340  0.064929

In [12]:
df['new'] = df['Z'] - df['W']

In [13]:
df

          W         X         Y         Z       new
A  0.886920 -1.352425 -0.339336 -0.055056 -0.941976
B  0.832037 -0.901137 -0.495430  0.244619 -0.587418
C -0.927452 -1.098289 -0.171025 -1.630591 -0.703139
D  2.163398 -0.187953 -0.725811 -1.626742 -3.790141
E  0.792246 -0.531604  0.873340  0.064929 -0.727317

In [14]:
df.insert(3, 'anand', np.arange(1, 6))

In [15]:
df

          W         X         Y  anand         Z       new
A  0.886920 -1.352425 -0.339336      1 -0.055056 -0.941976
B  0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
C -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139
D  2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
E  0.792246 -0.531604  0.873340      5  0.064929 -0.727317

**Removing Columns**

In [16]:
df.drop(['anand', 'new'], axis='columns')

          W         X         Y         Z
A  0.886920 -1.352425 -0.339336 -0.055056
B  0.832037 -0.901137 -0.495430  0.244619
C -0.927452 -1.098289 -0.171025 -1.630591
D  2.163398 -0.187953 -0.725811 -1.626742
E  0.792246 -0.531604  0.873340  0.064929

In [17]:
df  # Not inplace unless specified!

          W         X         Y  anand         Z       new
A  0.886920 -1.352425 -0.339336      1 -0.055056 -0.941976
B  0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
C -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139
D  2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
E  0.792246 -0.531604  0.873340      5  0.064929 -0.727317

In [18]:
df.drop('A', axis='rows')

          W         X         Y  anand         Z       new
B  0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
C -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139
D  2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
E  0.792246 -0.531604  0.873340      5  0.064929 -0.727317

In [19]:
df  # Not inplace unless specified!

          W         X         Y  anand         Z       new
A  0.886920 -1.352425 -0.339336      1 -0.055056 -0.941976
B  0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
C -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139
D  2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
E  0.792246 -0.531604  0.873340      5  0.064929 -0.727317

In [20]:
df.drop('A', axis=0, inplace=True)

In [21]:
df

          W         X         Y  anand         Z       new
B  0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
C -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139
D  2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
E  0.792246 -0.531604  0.873340      5  0.064929 -0.727317

**Selecting Rows**

In [22]:
df.loc['D']

W        2.163398
X       -0.187953
Y       -0.725811
anand    4.000000
Z       -1.626742
new     -3.790141
Name: D, dtype: float64

Or select based off of position instead of label

In [23]:
df.iloc[2]

W        2.163398
X       -0.187953
Y       -0.725811
anand    4.000000
Z       -1.626742
new     -3.790141
Name: D, dtype: float64

**Selecting subset of rows and columns**

In [24]:
df.loc['B', 'Y']

-0.4954300449804397

In [25]:
df.loc[['D', 'B'], ['W', 'Y']]

          W         Y
D  2.163398 -0.725811
B  0.832037 -0.495430

In [26]:
df.iloc[[0, 1], [0, 2]]

          W         Y
B  0.832037 -0.495430
C -0.927452 -0.171025

## Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [27]:
df

          W         X         Y  anand         Z       new
B  0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
C -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139
D  2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
E  0.792246 -0.531604  0.873340      5  0.064929 -0.727317

In [28]:
df > 0

       W      X      Y  anand      Z    new
B   True  False  False   True   True  False
C  False  False  False   True  False  False
D   True  False  False   True  False  False
E   True  False   True   True   True  False

In [29]:
df[df > 0]

          W   X        Y  anand         Z  new
B  0.832037 NaN      NaN      2  0.244619  NaN
C       NaN NaN      NaN      3       NaN  NaN
D  2.163398 NaN      NaN      4       NaN  NaN
E  0.792246 NaN  0.87334      5  0.064929  NaN

In [30]:
df[df['W'] > 0]

          W         X         Y  anand         Z       new
B  0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
D  2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
E  0.792246 -0.531604  0.873340      5  0.064929 -0.727317

In [31]:
df[df['W'] > 0]['Y']

B   -0.495430
D   -0.725811
E    0.873340
Name: Y, dtype: float64

In [32]:
df[df['W'] > 0][['Y', 'X']]

          Y         X
B -0.495430 -0.901137
D -0.725811 -0.187953
E  0.873340 -0.531604

For two conditions you can use | and & with parenthesis:

In [33]:
df[(df['W'] > 0) & (df['Y'] > 0)]

          W         X        Y  anand         Z       new
E  0.792246 -0.531604  0.87334      5  0.064929 -0.727317

# More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [34]:
df

          W         X         Y  anand         Z       new
B  0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
C -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139
D  2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
E  0.792246 -0.531604  0.873340      5  0.064929 -0.727317

In [35]:
# Reset to default 0,1...n index
df.reset_index()
df

          W         X         Y  anand         Z       new
B  0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
C -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139
D  2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
E  0.792246 -0.531604  0.873340      5  0.064929 -0.727317

In [36]:
df

          W         X         Y  anand         Z       new
B  0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
C -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139
D  2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
E  0.792246 -0.531604  0.873340      5  0.064929 -0.727317

In [37]:
newind = 'CA NY WY IN'.split()

In [38]:
df['States'] = newind

In [39]:
df

          W         X         Y  anand         Z       new States
B  0.832037 -0.901137 -0.495430      2  0.244619 -0.587418     CA
C -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139     NY
D  2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141     WY
E  0.792246 -0.531604  0.873340      5  0.064929 -0.727317     IN

In [40]:
df = df.set_index('States')
df

               W         X         Y  anand         Z       new
States
CA      0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
NY     -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139
WY      2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
IN      0.792246 -0.531604  0.873340      5  0.064929 -0.727317

In [41]:
df

               W         X         Y  anand         Z       new
States
CA      0.832037 -0.901137 -0.495430      2  0.244619 -0.587418
NY     -0.927452 -1.098289 -0.171025      3 -1.630591 -0.703139
WY      2.163398 -0.187953 -0.725811      4 -1.626742 -3.790141
IN      0.792246 -0.531604  0.873340      5  0.064929 -0.727317

# Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [42]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [43]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [44]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])
df

             A         B
G1 1 -1.826799  0.664159
   2 -1.704826 -1.120981
   3 -1.580792  1.756267
G2 1  0.285297  0.800070
   2 -0.672421  0.278855
   3 -0.779079 -0.580356

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [45]:
df.loc['G1']

          A         B
1 -1.826799  0.664159
2 -1.704826 -1.120981
3 -1.580792  1.756267

In [46]:
df.loc['G1'].loc[1]

A   -1.826799
B    0.664159
Name: 1, dtype: float64

In [47]:
list(df.columns)

['A', 'B']

## Renaming columns

In [48]:
df.columns = ['New', "old"]

In [49]:
df

           New       old
G1 1 -1.826799  0.664159
   2 -1.704826 -1.120981
   3 -1.580792  1.756267
G2 1  0.285297  0.800070
   2 -0.672421  0.278855
   3 -0.779079 -0.580356

In [50]:
df.index.names = ['Group', 'Num']

In [51]:
df

                New       old
Group Num
G1    1   -1.826799  0.664159
      2   -1.704826 -1.120981
      3   -1.580792  1.756267
G2    1    0.285297  0.800070
      2   -0.672421  0.278855
      3   -0.779079 -0.580356

In [52]:
df.xs('G1')

          New       old
Num
1   -1.826799  0.664159
2   -1.704826 -1.120981
3   -1.580792  1.756267

In [53]:
df.xs(('G1', 1))

New   -1.826799
old    0.664159
Name: (G1, 1), dtype: float64

In [54]:
df.xs(1, level='Num')

            New       old
Group
G1    -1.826799  0.664159
G2     0.285297  0.800070