# Operators in Python

Python language supports the following types of operators.

- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

## Arithmetic Operators

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:left;width:10%">Operator</th>
<th style="text-align:left;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">+ (Addition)</td>
<td>Adds values on either side of the operator.</td>
<td class="ts">a + b = 30</td>
</tr>
<tr>
<td class="ts">- Subtraction</td>
<td>Subtracts right hand operand from left hand operand.</td>
<td class="ts">a – b = -10</td>
</tr>
<tr>
<td class="ts">* Multiplication</td>
<td>Multiplies values on either side of the operator</td>
<td class="ts">a * b = 200</td>
</tr>
<tr>
<td class="ts">/ Division</td>
<td>Divides left hand operand by right hand operand</td>
<td class="ts">b / a = 2</td>
</tr>
<tr>
<td class="ts">% Modulus</td>
<td>Divides left hand operand by right hand operand and returns remainder</td>
<td class="ts">b % a = 0</td>
</tr>
<tr>
<td class="ts">** Exponent</td>
<td>Performs exponential (power) calculation on operators</td>
<td class="ts">a**b =10 to the power 20</td>
</tr>
<tr>
<td class="ts">//</td>
<td>Floor Division - The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity) −</td>
<td class="ts">9//2 = 4 and 9.0//2.0 = 4.0, -11//3 = -4, -11.0//3 = -4.0</td>
</tr>
</tbody></table>

## Comparison (Relational) Operators

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:1%">Operator</th>
<th style="text-align:center;width:10%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td class="ts">(a == b) is not true.</td>
</tr>
<tr>
<td class="ts">!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td class="ts">(a != b) is true.</td>
</tr>
<tr>
<td class="ts">&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td class="ts">(a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td class="ts">&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td class="ts">(a &gt; b) is not true.</td>
</tr>
<tr>
<td class="ts">&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td class="ts">(a &lt; b) is true.</td>
</tr>
<tr>
<td class="ts">&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td class="ts">(a &gt;= b) is not true.</td>
</tr>
<tr>
<td class="ts">&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td class="ts">(a &lt;= b) is true.</td>
</tr>
</tbody></table>

In [1]:
1 = 1

SyntaxError: cannot assign to literal (Temp/ipykernel_14216/814398681.py, line 1)

In [3]:
1+10 == 1+20-10

True

In [8]:
23 != 23

False

In [9]:
23 > 34

False

## Assignment Operators

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">=</td>
<td>Assigns values from right side operands to left side operand</td>
<td style="vertical-align:middle;">c = a + b assigns value of a + b into c</td>
</tr>
<tr>
<td class="ts">+= Add AND</td>
<td>It adds right operand to the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c += a is equivalent to c = c + a</td>
</tr>
<tr>
<td class="ts">-= Subtract AND</td>
<td>It subtracts right operand from the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c -= a is equivalent to c = c - a</td>
</tr>
<tr>
<td class="ts">*= Multiply AND</td>
<td>It multiplies right operand with the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c *= a is equivalent to c = c * a</td>
</tr>
<tr>
<td class="ts">/= Divide AND</td>
<td>It divides left operand with the right operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c /= a is equivalent to c = c / a
</td>
</tr>
<tr>
<td class="ts">%= Modulus AND</td>
<td>It takes modulus using two operands and assign the result to left operand</td>
<td style="vertical-align:middle;">c %= a is equivalent to c = c % a</td>
</tr>
<tr>
<td class="ts">**= Exponent AND</td>
<td>Performs exponential (power) calculation on operators and assign value to the left operand</td>
<td style="vertical-align:middle;">c **= a is equivalent to c = c ** a</td>
</tr>
<tr>
<td class="ts">//= Floor Division</td>
<td>It performs floor division on operators and assign value to the left operand</td>
<td style="vertical-align:middle;">c //= a is equivalent to c = c // a</td>
</tr>
</tbody></table>

In [10]:
a = 9

In [13]:
# updating the same variable
a = a + 1

In [12]:
print(a)

10

In [14]:
b = 5
b += 3  # b = b + 3
print(b)

8

In [15]:
c = 3
c += 2   # c = c + 2
c -= 4   # c = c - 4
c *= 5   # c = c * 5
print(c)

5

In [18]:
# this prints hello
print('hello')

print('world')
# this prints world

a = 6 ** 2
print(a)  # print('HIDDEN')

print('bye') # this prints bye and exit

hello
world
36
bye

## Logical Operators

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td>and (Logical AND)</td>
<td class="ts">If both the operands are true then condition becomes true.</td>
<td class="ts">(a and b) is true.</td>
</tr>
<tr>
<td>or (Logical OR)</td>
<td class="ts">If any of the two operands are non-zero then condition becomes true.</td>
<td class="ts">(a or b) is true.</td>
</tr>
<tr>
<td>not Logical NOT</td>
<td class="ts">Used to reverse the logical state of its operand.</td>
<td class="ts">Not(a and b) is false.</td>
</tr>
</tbody></table>

In [19]:
2==2 and 3==4

False

In [20]:
2==4 and 3==4

False

In [25]:
2==2 and 3==3 and 4==5-1 and 5==25/5

True

In [22]:
2==4 or 3==5

False

In [23]:
2==2 or 3==13

True

In [29]:
not 2!=3

False

In [30]:
not False

True

## Bitwise Operators

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">&amp; Binary AND</td>
<td>Operator copies a bit to the result if it exists in both operands</td>
<td style="vertical-align:middle;">(a &amp; b) (means 0000 1100)</td>
</tr>
<tr>
<td class="ts">| Binary OR</td>
<td>It copies a bit if it exists in either operand.</td>
<td style="vertical-align:middle;">(a | b) = 61 (means 0011 1101)</td>
</tr>
<tr>
<td class="ts">^ Binary XOR</td>
<td>It copies the bit if it is set in one operand but not both.</td>
<td style="vertical-align:middle;">(a ^ b) = 49 (means 0011 0001)</td>
</tr>
<tr>
<td class="ts">~ Binary Ones Complement</td>
<td style="vertical-align:middle;">It is unary and has the effect of 'flipping' bits.</td>
<td style="vertical-align:middle;">(~a ) = -61 (means 1100 0011 in 2's complement form due to a signed binary number.</td>
</tr>
<tr>
<td class="ts">&lt;&lt; Binary Left Shift</td>
<td>The left operands value is moved left by the number of bits specified by the right operand.</td>
<td style="vertical-align:middle;">a &lt;&lt; 2 = 240 (means 1111 0000)</td>
</tr>
<tr>
<td class="ts">&gt;&gt; Binary Right Shift</td>
<td>The left operands value is moved right by the number of bits specified by the right operand.</td>
<td style="vertical-align:middle;">a &gt;&gt; 2 = 15 (means 0000 1111)</td>
</tr>
</tbody></table>

In [31]:
2 & 3

2

In [32]:
2 | 3

3

In [33]:
9 & 11

9

In [34]:
9 | 11

11

## Membership Operators

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">in</td>
<td>Evaluates to true if it finds a variable in the specified sequence and false otherwise.</td>
<td style="vertical-align:middle;">x in y, here in results in a 1 if x is a member of sequence y.</td>
</tr>
<tr>
<td class="ts">not in</td>
<td>Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.</td>
<td>x not in y, here not in results in a 1 if x is not a member of sequence y.</td>
</tr>
<tr>
<td class="ts">.</td>
<td>Membership operator, access all members</td>
<td style="vertical-align:middle;">Example pd.DataFrame()</td>
</tr>
</tbody></table>

In [35]:
'a' in ['a', 'b', 'c', 1, 3.14, True]

True

In [36]:
'tushar' in ['a', 'b', 'c', 1, 3.14, True]

False

## Identity Operators

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">is</td>
<td>Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.</td>
<td style="vertical-align:middle;">x is y, here <b>is</b> results in 1 if id(x) equals id(y).</td>
</tr>
<tr>
<td class="ts">is not</td>
<td>Evaluates to false if the variables on either side of the operator point to the same object and true otherwise.</td>
<td style="vertical-align:middle;">x is not y, here <b>is not</b> results in 1 if id(x) is not equal to id(y).</td>
</tr>
</tbody></table>

In [37]:
2 == 2

True

In [38]:
5 == 5

True

In [46]:
type(5) is type(5)

True